*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1a1a1a;
}

a{
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: #0ef;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #0ef;
    padding: 10px 30px;
    transition: color 1s, box-shadow 1s;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
}

a:hover{
    transition-delay:0s,0.5s ;
    color: #fff;
    box-shadow: 0 0 10px #0ef,
    0 0 20px #0ef,
    0 0 40px #0ef,
     0 0 80px #0ef,
     0 0 160px #0ef;
}

a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #0ef;
    transform: skewX(35deg);
    transition: 1s;
    z-index: -1;
}

a:hover:before{
    width: 100%;
}